# 환경설정

In [5]:
# !pip install pysqlite

!pip install psycopg2
# 맥의 경우 pip install psycopg2-binary
!pip install sqlalchemy

Collecting psycopg2
  Obtaining dependency information for psycopg2 from https://files.pythonhosted.org/packages/7b/69/3afcafc622a52bbe90da947411a063a6f33ecc7243bad7b31fe358db92ff/psycopg2-2.9.7-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2-2.9.7-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.7-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 445.2 kB/s eta 0:00:03
   ------- -------------------------------- 0.2/1.2 MB 1.8 MB/s eta 0:00:01
   ---------------- ----------------------- 0.5/1.2 MB 3.4 MB/s eta 0:00:01
   ------------------------ --------------- 0.7/1.2 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 4.1 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.7
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/10/81/230bec5713913a472003b71c8dd7e3572de44499e741df576fd6b39d82c8/SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting typing-extensions>=4.2.0 (from sqlalchemy)
  Obtaining dependency information for typing-extensions>=4.2.0 from https://files.pythonhosted.org/packages/ec/6b/63cc3df74987c36fe26157ee12e09e8f9db4de771e0f3404263117e75b95/typing_extensions-4.7.1-py3-none-any.whl.metadata
  Downloading typing_extensions-4.7.1-py3-none-any.whl.metadata (3.1 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.5 kB ? eta -:--:--
     -- ------------------------------------- 10.2/192.5 kB ? eta -:--:--
     ------------------------ ------------- 122.9/192.5 kB 1.8 MB/s eta 0:00:01
     -------------------------------------- 192.5/192.5 kB 2.3 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.0 MB 8.6 MB/s eta 0:00:01
   ---------- ----------------------------- 0.6/2.0 MB 7.0 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.0 MB 6.2 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.0 MB 5.7 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.0 MB 6.2 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.0 MB 6.2 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.0 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 5.9 MB/s eta 0:00:00
Downloading typing_extensions-4.7.1-py3-none-any.whl (33 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.20 typing-extensions-4.7.1

# 일반적 방법 [sqlite]

In [2]:
import sqlite3

conn = sqlite3.connect('chinook.db')
c = conn.cursor()

query = '''
SELECT *
FROM albums
'''

c.execute(query)

In [4]:
c.fetchall() # 전체 가져오기
# c.fetchall() # 전체 가져오기

[]

# 판다스로 가져오기

In [24]:
# init
import sqlite3
import pandas as pd

# ( ) 안에 파일 경로를 넣어주면 됨.
conn = sqlite3.connect('chinook.db')

# 쿼리 선언용 객체를 만들어야함.
c = conn.cursor()

# 쿼리 아래 '''  ''' 안에 쿼리를 작성하면됨
query = '''
SELECT *
FROM albums
'''

# 판다스를 이용해서 쿼리 호출 및 불러오기
df = pd.read_sql(query, conn)

# 불러온 데이터 프레임에서 상단부만 출력
df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

# LOCAL DB와 연결

![Alt text](image-2.png)

In [24]:
# 애플 주가 데이터
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jin0choi1216/dataset/main/AAPL.csv')
df.head(3)

# 위 데이터를 DB에 INSERT

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-01-03,14.621429,14.732143,14.607143,14.686786,12.466090,302220800
1,2012-01-04,14.642857,14.810000,14.617143,14.765714,12.533089,260022000
2,2012-01-05,14.819643,14.948214,14.738214,14.929643,12.672229,271269600

In [25]:
import psycopg2

# 클라우드 DB 연결
# https://customer.elephantsql.com/instance

db_params = {
    "host" : 'floppy.db.elephantsql.com',
    'database' : 'rgjanwbr',
    'user' : 'rgjanwbr',
    'password' : '0mT5JjjFr-dHYxva2IgETSB9rkSGXVYW',
    'port' : '5432'
}

try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()
    print('데이터베이스 연결 성공')

    create_table_query = 'CREATE TABLE IF NOT EXISTS example_table (id SERIAL PRIMARY KEY, data VARCHAR)'
    insert_data_query = "INSERT INTO example_table (data) VALUES ('HI')"
    cursor.execute(create_table_query)
    cursor.execute(insert_data_query)
    conn.commit()

    read_data_query = 'SELECT * FROM example_table'
    cursor.execute(read_data_query)
    print(cursor.fetchall())
    print('테이블 생성 완료')
except (Exception, psycopg2.Error) as error:
    print(error)
finally:
    if conn:
        conn.close()
        print('데이터베이스 연결 종료')

데이터베이스 연결 성공
[(1, 'HI'), (2, 'HI'), (3, 'HI'), (4, 'HI2'), (5, 'HI2'), (6, 'HI')]
테이블 생성 완료
데이터베이스 연결 종료

# URI

In [ ]:
# postgresql://<username>:<password>@<host>:<port>/<database_name>

# floppy.db.elephantsql.com

In [ ]:
import psycopg2
# 엔진 
from sqlalchemy import create_engine
# 클라우드 DB 연결
# https://customer.elephantsql.com/instance

db_params = {
    "host" : 'floppy.db.elephantsql.com',
    'database' : 'rgjanwbr',
    'user' : 'rgjanwbr',
    'password' : '0mT5JjjFr-dHYxva2IgETSB9rkSGXVYW',
    'port' : '5432'
}

try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()

    # 'postgresql://<user>:<password>@<host>/<db_name>'
    # user:password@host주소/db_name
    engine = create_engine('postgresql://rgjanwbr:0mT5JjjFr-dHYxva2IgETSB9rkSGXVYW@floppy.db.elephantsql.com/rgjanwbr')
    print('데이터베이스 연결 성공')

    #connection 객체 생성
    with engine.connect() as con:
        # 이 데이터 프레임을 SQL을 통해 DB에 넣는데, 만약 있다면 대체함
        # to_sql ('DB NAME' , '엔진 객체', '옵션')
        df.to_sql('aapl', con, if_exists='replace')


except (Exception, psycopg2.Error) as error:
    print(error)
finally:
    if conn:
        conn.close()
        print('데이터베이스 연결 종료')